Welcome to ricochet robots.<br><br>

To create a new game or join an existing game,
enter a game identifier and click 'GO'.<br><br>

<form id="login-form" style="display:inline;">
    Room ID:<br>
    <input id="roomid-input" type="text" style="font-size: 14;width:300px;height:50px;border: 2px solid red;border-radius: 4px;" placeholder="Enter Room ID"></input><br><br>
    <input type="submit" value="Join">
</form></br></br></br>

<script>
    var loginForm = document.getElementById('login-form');
    var roomidInput = document.getElementById('roomid-input');
    loginForm.onsubmit = function(e){
        e.preventDefault();
        window.location.href = roomidInput.value;
    }
</script>
